# Copie este arquivo para .env e preencha com os valores para o seu ambiente.
# Para rodar em modo NUVEM, use 'cloud'. Para rodar na BORDA, use 'local'.
VITE_APP_ENV="cloud"

# --- VARIÁVEIS PARA O MODO NUVEM ---
MONGODB_ATLAS_URI="mongodb+srv://user:password@cluster..."
AWS_S3_BUCKET_NAME="seu-bucket-s3"
AWS_S3_ACCESS_KEY_ID="sua-access-key"
AWS_S3_SECRET_ACCESS_KEY="sua-secret-key"
AWS_S3_REGION="sa-east-1"

# --- VARIÁVEIS PARA O MODO BORDA ---
VITE_FIWARE_API_URL="http://192.168.1.200:1026/v2"
VITE_MINIO_ENDPOINT="192.168.1.200:9000"
VITE_MINIO_BUCKET="insect-images"
