# ESTE É UM TEMPLATE. NÃO COLOQUE SEUS SEGREDOS AQUI.
apiVersion: v1
kind: Secret
metadata:
  name: atlas-credentials
type: Opaque
stringData:
  uri: "mongodb+srv://usuario:senha@cluster.mongodb.net/sua-database"
