# ESTE É UM TEMPLATE. NÃO COLOQUE SEUS SEGREDOS AQUI.
apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
type: Opaque
stringData:
  access_key: "<COLE_SEU_AWS_ACCESS_KEY_ID_AQUI>"
  secret_key: "<COLE_SUA_AWS_SECRET_KEY_AQUI>"
