# ESTE É UM TEMPLATE. NÃO COLOQUE SEUS SEGREDOS AQUI.
apiVersion: v1
kind: Secret
metadata:
  name: grafana-cloud-credentials
type: Opaque
stringData:
  username: "SEU_USERNAME_AQUI"
  password: "SUA_API_KEY_AQUI"