apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
type: Opaque
stringData:
  # Use um gerador de senhas online para criar uma string longa e aleatória aqui.
  # Exemplo: Zx8_N(eR!aV_K-hT9@dG$sFp)LwMc!Yq
  secret: "<INSIRA_UMA_STRING_SECRETA_LONGA_E_ALEATORIA_AQUI>"
